<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="container text-center">
  <h4>Results Page!!!</h4>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Movie Title</th>
      <th scope="col">Year</th>
    </tr>
  </thead>
  <tbody>
    <% data["Search"].forEach(function(movie) { %>
      <tr>
        <td>
          <strong>
              <%= movie["Title"] %>
          </strong> 
        </td>
         <td><%=movie["Year"]%></td>
      </tr>
    <% }) %>
   </tbody>
</table>

<a class="btn btn-link" href="/">Search Again!</a>

</div>
