<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
<div class="card">
  <div class="card-header">
    Movie App
  </div>
  <div class="card-body">
    <h5 class="card-title">Please Enter Text to search movie</h5>
    <br/>
    <form action="/results" method="GET">
        <input class="form-control form-control-lg" type="text" placeholder="search movie" name="search">
        <br/>
        <input class="btn btn-primary mb-2" type="submit">
        <br/>
    </form>
  </div>
</div>
</div>
